.chocolatierBasicButton {
  color:  #FFFFFF;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  border-color: transparent;
  background-color:#0b2b24;
}

.chocolatierBasicButton {
  transform: translateY(-2px);
  filter: brightness(1.1);
}


