

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexArea{
  background-color: lightslategray;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.modalContents{
  width: 400px;
}

.modalFlexArea{
  text-align: center;
  display: flex;
  justify-content: center;
}

.filePreview{
  width: 100px;
  object-fit: contain;
}

.modalDeleteArea{
  display: flex;
  justify-content: end;
}

.modalDeleteButton {
  display: 'inline-block';
  padding: '6px 12px';
  color: '#f44336';
  border-radius: '4px';
  cursor: 'pointer';
}



